
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(/static/assets/cinema.jpg);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #FF9C73;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e2e2e2;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #FF9C73;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}